*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-app{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-app{
    width: 750px;
}

.content-btn-add-user{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}